@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dancing+Script&family=Darker+Grotesque&family=Dosis&family=Forum&family=Julius+Sans+One&family=Nixie+One&family=Pathway+Gothic+One&family=Patrick+Hand+SC&display=swap');

body {
    text-align: center;
    margin: 0;
    background-color: antiquewhite;
  }
  h1 {
    color: #030328;
    font-family: 'Dancing Script';
    font-size: 3em;
    }
  nav {
    background-color:#fec492;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
  }
  a {
    color:antiquewhite;
    margin: 0px;
    font-size: x-large;
    font-family: 'Darker Grotesque';
    font-weight: 550;
    padding: 10px;
    text-decoration: none;
  }
  a:hover {
    background-color:peachpuff;
    color:#333362;
    padding: 10px;
  }
  p {
    color:#030328;
  }