@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Gamja+Flower&family=Patrick+Hand+SC&display=swap');
@import url('https://coolors.co/7cc5df-5eb9d4-219ebc-1a839f-126782-023047-ffd770-fec453-fdb035-fb940e');

:root {
    --primary-color: #219EBC;
    --secondary-color: #FEC453;
    --accent1-color: #5EB9D4;
    --accent2-color: #FFD770;
    --accent3-color: #1A839F;
    --accent4-color: #FDB035;
    --accent5-color: #7cc5DF;
    --accent6-color: #FB940E;
    --accent7-color: #126782;
    --accent8-color: #023047;
  
    --heading-font: 'Patrick Hand SC';
    --subheading-font: 'Gamja Flower';
    --paragraph-font: 'Barlow', Helvetica, sans-serif;
}

div {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color:#FFD770;
    display: flex;
    margin: 0;
}
.logo {
    width: 150px;
    display: flex;
    margin-left: 5px;
}
#logo_link {
    justify-self: center;
    align-self: center;
}
nav {
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    display: flex;
    justify-self: center;
    margin: auto;
    margin-right: 50px;
}
nav a {
    min-width: 150px;
    text-decoration: none;
    padding: 10px;
    font-family: 'Gamja Flower';
    color:#1A839F;
}
nav a:hover {
    background-color:#FEC453;
}
#active {
    color:#219EBC;
}
body{
    background-color: white;
    font-family: Barlow;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.welcome img {
    width: 100%;
}
.imgcollage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
}
.imgcollage img {
    max-width: 100%;
    justify-self: center;
}
.aggie {
    grid-column: 1;
    grid-row: 1;
}
.bellatrix {
    grid-column: 2;
    grid-row: 1;
}
.kona {
    grid-column: 3;
    grid-row: 1;
}
.piper {
    grid-column: 4;
    grid-row: 1;
}
.aboutmeblock {
    margin-top: -20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: .05fr .5fr 2fr;
    align-items: center;
    padding: 20px;
    padding-right: 150px;
    padding-left: 150px;
}
.picdecor {
    display: block;
    background-color: #7cc5DF;
    border-radius: 200px;
    width: 315px;
    height: 315px;
    margin-top: -25px;
    grid-column: 2/4;
    grid-row: 1;
}
.picofgraci {
    width: 300px;
    border-radius: 200px;
    grid-column: 3;
    grid-row: 1;
    justify-self: left;
}
.intro {
    grid-column: 4;
    grid-row: 1;
    justify-self: left;
    align-content: center;
    padding-left: 20px;
}
h4 {
    font-family: 'Gamja Flower';
    font-size: 48px;
    margin: 0;
    color:#FDB035;
}
p {
    font-family: Barlow;
    font-size: 24px;
    margin: 0;
    color:#023047;
}
footer {
    line-height: 20px;
    background-color: #FFD770;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
footer p {
    padding: 20px;
    font-family: Barlow;
    color:#1A839F;
    font-size: 1em;
}
footer a {
    min-width: 150px;
    padding: 20px;
    text-decoration: none;
    font-family: Barlow;
    color:#FB940E;
    font-size: 1em;
    text-align: center;
}
footer a:hover {
    max-width: 150px;
    font-size: 1.1em;
    text-align: center;
}

/* Training Page */
.video {
    display: block;
    margin: auto;
    padding: 20px;
    max-width: 80%;
}

/* Newsletters */
.news {
    display: block;
    width: 80%;
    max-width: 750px;
    margin: auto;
    padding: 20px;
}





@media screen and (max-width: 1200px) {
    .aboutmeblock {
        padding-right: 40px;
        padding-left: 40px;
    }
    .picofgraci {
        width: 250px;
    }
    .picdecor {
        width: 265px;
        height: 265px;
        margin-top: -10px;
    }
    h4 {
        font-size: 35px;
    }
    p {
        font-size: 20px;
    }
    .body {
        margin: 50px;
    }
}

@media screen and (max-width: 1000px) {
    nav a {
        min-width: 80px;
    }
}


@media screen and (max-width: 700px) {
    .logo {
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 5px;
        width: 225px;
    }
    nav {
        flex-direction: column;
    }
    nav {
        line-height: 25px;
        font-size: 18px;
        margin-right: 10px;
    }
    nav a {
        display: block;
        padding: 10px;
        min-width: 100px;
    }
    nav a:hover {
        font-size: 20px;
    }
    .dropdown {
        float: left;
        margin-left: auto;
        margin-right: 0;
    }
    .dropdown .dropbtn {
    font-size: 18px;
    }
    nav .dropdown-content a {
    line-height: 15px;
    min-width: 75px;
    font-size: 15px;
    padding: 10px;
    }
    .dropdown-content a:hover {
    font-size: 17px;
    min-width: 75px;
    }
    .aboutmeblock {
        margin-bottom: 30px;
        padding-right: 20px;
        padding-left: 0;
    }
    .picofgraci {
        width: 175px;
    }
    .picdecor {
        width: 180px;
        height: 180px;
        margin-top: -10px;
    }
    h4 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
    footer {
        line-height: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    footer p {
        display: block;
        grid-column: 1/3;
        font-size: .75em;
    }
    footer a {
        display: block;
        padding: 10px;
        max-width: 100px;
        font-size: .75em;
    }
    footer a:hover {
        display: block;
    }
}