@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dancing+Script&family=Darker+Grotesque&family=Dosis&family=Forum&family=Julius+Sans+One&family=Nixie+One&family=Pathway+Gothic+One&family=Patrick+Hand+SC&display=swap');

div {
    max-width: 1600px;
    margin: 0;
}
.homecontent {
    display: grid;
    grid-template-columns: .5fr .5fr 1.5fr 1fr 2fr 2fr .5fr;
}
    .block1 {
        background-color: #030328;
        height: auto;
        width: 450px;
        grid-column: 1/4;
        grid-row: 1/9;
    }
    .imageofme {
        grid-column: 3/5;
        grid-row: 2/8;
    }
    .nameandtitle {
        grid-column: 5;
        grid-row: 4/7;
    }
    .name {
        grid-row: 1;
    }
    .title {
        grid-row: 2;
    }
    .nav {
        grid-row: 3;
    }
    .aboutme {
        grid-column: 4/7;
        grid-row: 8;
    }
img {
    max-width: 350px;
    height: auto;
    border-style: groove;
    border-color: #030328;
    margin: 10px;
    margin-top: 50px;
}
nav {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
}
h1, h3 {
    color:#030328;
    background-color: antiquewhite;
    margin: 0;
    padding: 5px;
}
h1 {
    font-size:xxx-large;
    font-family: 'Pathway Gothic One';
}
h3 {
    font-size: x-large;
    font-family: 'Dancing Script';
    padding: 10px;
}
a {
    text-decoration: none;
    font-size: larger;
    font-family: 'Pathway Gothic One';
    padding: 10px;
    color: orangered;
    background-color: peachpuff;
}
a:hover {
    color: white;
    background-color: orangered;
}
body {
    text-align: center;
    margin: 0px;
    background-color: antiquewhite;
}
p {
    font-size:larger;
    font-weight: 550;
    font-family: 'Darker Grotesque';
    color:#030328;
    background-color: antiquewhite;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.footernav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
.email {
    grid-column: 1;
}
.town {
    grid-column: 2;
}
.website {
    grid-column: 3;
}
footer {
    font-family: 'Dancing Script';
    font-weight: 10;
    font-size: large;
    color:#030328;
    text-align: center;
    background-color: peachpuff;
    padding: 10px;
    padding-top: -50px;
}
footer p {
    font-family: 'Darker Grotesque';
    font-size:medium;
    color:#030328;
    background-color: peachpuff;
    text-align: center;
    text-justify: center;
    padding-bottom: 10px;
    margin-top: -20px;
    margin-bottom: -20px;
}

@media screen and (max-width: 900px) {
    .homecontent {
        display: block;
        height: auto;
    }
    nav, .footernav {
        flex-direction: column;
    }
    footer {
        margin-top: 10px;
    }
}